@import "tailwindcss";

@theme {
  /* Configurando as Fontes do Google carregadas no Layout */
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);

  /* Animações Personalizadas */
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}

/* Utilitários Customizados */
@layer utilities {
  .glass {
    @apply bg-zinc-900/40 backdrop-blur-md border border-white/5;
  }
}

/* Reset Básico Dark Mode */
body {
  background-color: var(--color-bg-page);
  color: var(--color-text-primary);
  font-family: var(--font-inter);

  /* 👇 É ESTA LINHA QUE FAZ A MÁGICA */
  text-transform: lowercase;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar invisível */
html {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari and Opera */
}