@import "tailwindcss";

@theme {
  /* Configurando as Fontes do Google carregadas no Layout */
  --font-sans: var(--font-sora);
  --font-mono: var(--font-mono);

  /* Animações Personalizadas */
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;

  @keyframes pulse {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: .5;
    }
  }
}

/* Utilitários Customizados */
@layer utilities {
  .glass {
    @apply bg-zinc-900/40 backdrop-blur-md border border-white/5;
  }
}

/* Reset Básico Dark Mode */
body {
  background-color: #000000;
  color: #F5F5F7;
  /* zinc-200 */
}

/* Scrollbar invisível */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}